
.card{
    @include card;
    .card-img{
        @extend %card-img;
    }

    .card-content{
        padding: $base-padding;
        .card-title{
            @extend %card-title;
        }
    
        .card-body{
            @extend %card-body;
        }

    }

    .card-footer{
        padding: $base-padding;
        padding-bottom: $base-padding * 2;
    }
}